<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 16px 8px;
    display: flex;
    align-items: center;
    background-color: #169ebf;
    color: white;
    font-size: 20px;
    font-family: fantasy;
    letter-spacing: 0.2em;
  }

  .toolbar img {
    margin: 0 16px;
    width: 50px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  /* Responsive Styles */
  @media screen and (max-width: 1200px) {
    .toolbar {
      padding: 14px 7px;
      font-size: 16px;
      letter-spacing: 0.1em;
    }
    .toolbar img {
      margin: 0 12px;
      width: 45px;
    }
  }

  @media screen and (max-width: 767px) {
    .toolbar {
      padding: 10px 5px;
      font-size: 14px;
      letter-spacing: 0.1em;
    }
    .toolbar img {
      margin: 0 10px;
      width: 40px;
    }
  }

  @media screen and (max-width: 575px) {
    .toolbar {
      padding: 7px 4px;
      font-size: 12px;
    }
    .toolbar img {
      margin: 0 7px;
      width: 30px;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img alt="Angular Logo" src="../assets/img/logo_192.png" />
  <span>Bliss Applications Frontend Assessment by Gaurang Patel</span>
  <span> : {{ env }}</span>
</div>

<div class="content" role="main"></div>

<router-outlet></router-outlet>
