.search-div {
    width: 99%;
    padding-bottom: 5%;
    position: relative;
}

.search-div > .input-div {
    width: 70%;
    float: left;
}

.search-div > .button-div {
    width: 30%;
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: lightpink;
}

.input-div input {
    width: 90%;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 2% 4%;
}

.button-div > button {
    width: 90%;
    background-color: green;
    color: white;
    padding: 2% 4%;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
}

.button-div > button:active {
    background-color: darkgreen;
    color: white;
    font-size: larger;
}